.clearfix:after {
  content: '';
  display: block;
  width: 100%;
  height: 0;
  clear: both;
}
body {
  background: #131313;
}
body .bg-blank {
  background: #131313;
}
.pt20 {
  padding-top: 20px;
}
.pt70 {
  padding-top: 70px;
}
.pt95 {
  padding-top: 95px;
}
.pt245 {
  padding-top: 245px;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.none {
  display: none;
}
.auto {
  width: 1400px;
  margin: 0 auto;
}
.header {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  height: 70px;
  line-height: 70px;
  background: rgba(19, 19, 19, 0.2);
}
.header .auto {
  width: 1400px;
  padding: 0 50px 0 150px;
  height: 100%;
}
.header .auto .logo {
  width: 61px;
  height: 34px;
  background: url("http://zimeitisucai.oss-cn-beijing.aliyuncs.com/resource/ouguWebsite/img/homepage/logo.png") no-repeat 0 0 / contain;
  margin-top: 18px;
}
.header .auto ul {
  margin-right: 0px;
}
.header .auto ul li {
  position: relative;
  float: left;
  padding: 0 100px;
}
.header .auto ul a {
  display: block;
  width: 100%;
  height: 100%;
  color: #fff;
  font-size: 16px;
}
.header .auto ul li:hover a {
  font-size: 18px;
}
.header .auto ul li.on:after {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  bottom: 13px;
  width: 28px;
  height: 1px;
  margin-left: -15px;
  background: #fff;
}
.header .headerhover {
  display: none;
  height: 183px;
  background: rgba(255, 255, 255, 0.7);
  color: #fff;
  margin: 0 auto;
}
.header .headerhover .hhul {
  height: 100%;
  width: 920px;
  margin: 0 auto;
  overflow: hidden;
}
.header .headerhover .hhul > li > a {
  display: block;
}
.header .headerhover .hhul > li:hover > p {
  color: #131313;
}
.header .headerhover .hhul li {
  width: 180px;
  height: 100%;
  float: left;
}
.header .headerhover .hhul li .img {
  width: 105px;
  height: 105px;
  margin: 25px auto 15px;
}
.header .headerhover .hhul li .p {
  color: #666;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  margin-bottom: 21px;
}
.header .headerhover .hhul li:hover p {
  color: #131313;
}
.header .project {
  height: 333px;
}
.header .project .projectul li {
  height: 300px;
}
.header .project .projectul li:hover p {
  color: #666;
  position: relative;
}
.header .project .projectul li:hover p:after {
  content: '';
  display: block;
  position: absolute;
  left: 54%;
  bottom: -2px;
  width: 21px;
  height: 1px;
  margin-left: -18px;
  background: #666;
}
.header .project .projectul li p:hover {
  color: #131313;
}
.header .project .projectul .t {
  color: #666;
  font-size: 12px;
  line-height: 16px;
  text-align: left;
  margin-left: 63px;
  margin-top: 14px;
}
.header .project .projectul .t > a {
  display: inline-block;
  color: #666;
}
.header .project .projectul .t > a:hover {
  color: #131313;
}
.header:hover {
  background: #131313;
}
.footer {
  color: #fff;
  height: 399px;
  background: #2c2c2c;
  padding-bottom: 45px;
}
.footer .nav {
  padding: 38px 0 0 150px;
}
.footer .ft {
  display: flex;
  justify-content: space-between;
}
.footer .col {
  float: left;
  margin-right: 185px;
}
.footer .col h4 {
  font-size: 16px;
  line-height: 1;
  margin-bottom: 9px;
  font-weight: 100;
}
.footer .col li {
  line-height: 34px;
  font-size: 12px;
  color: #fff;
  font-weight: 100;
}
.footer .col li a {
  font-size: 12px;
  color: #fff;
}
.footer div.col:last-of-type {
  margin: 0;
}
.footer .co-right {
  padding: 0 150px;
  font-size: 10px;
  color: #666;
  margin-top: 113px;
}
.footer .co-right img {
  margin-top: -33px;
}
.content .bread-index {
  height: 50px;
  line-height: 50px;
  color: #fff;
  font-size: 18px;
  background: #131313;
}
.content .bread-index .auto {
  font-weight: 100;
  width: 1400px;
  padding-left: 150px;
}
