.bg-blank {
  background: #131313;
}
.banner {
  height: 1000px;
}
.banner .swiper-container {
  height: 100%;
}
.banner .swiper-slide {
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover ;
}
.banner .swiper-slide a {
  display: block;
  width: 100%;
  height: 100%;
}
.banner .slide1 {
  background-image: url("http://zimeitisucai.oss-cn-beijing.aliyuncs.com/resource/ouguWebsite/img/homepage/banner1.png");
}
.banner .slide2 {
  background-image: url("http://zimeitisucai.oss-cn-beijing.aliyuncs.com/resource/ouguWebsite/img/homepage/banner2.jpg");
}
.banner .slide3 {
  background-image: url("http://zimeitisucai.oss-cn-beijing.aliyuncs.com/resource/ouguWebsite/img/homepage/banner3.jpg");
}
.banner .slide4 {
  background-image: url("http://zimeitisucai.oss-cn-beijing.aliyuncs.com/resource/ouguWebsite/img/homepage/banner4.jpg");
}
.banner .slide5 {
  background-image: url("http://zimeitisucai.oss-cn-beijing.aliyuncs.com/resource/ouguWebsite/img/homepage/banner5.jpg");
}
.banner .pagination {
  position: absolute;
  z-index: 20;
  bottom: 75px;
  width: 100%;
  text-align: center;
}
.banner .swiper-pagination-switch {
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 16px;
  background: rgba(255, 255, 255, 0.4);
  margin: 0 27px;
  cursor: pointer;
}
.banner .swiper-active-switch {
  background: #fff;
}
.content img {
  display: block;
  width: 100%;
  height: 100%;
}
.content .module .text {
  width: 100%;
  height: 538px;
  background: #131313;
  color: #fff;
}
.content .module .text .textauto {
  width: 62.5%;
  height: 100%;
  position: relative;
  min-width: 1400px;
  margin: 0 auto;
  text-align: center;
}
.content .module .text .textauto h2 {
  font-size: 30px;
  font-weight: 100;
}
.content .module .text .textauto h3 {
  font-size: 20px;
  font-weight: 100;
  line-height: 1;
  margin-bottom: 15px;
}
.content .module .text .textauto .desc {
  font-size: 18px;
  line-height: 2.5;
  font-weight: 100;
}
.content .module .bg {
  height: 848px;
  line-height: 848px;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
  font-size: 40px;
  color: #fff;
  font-weight: 100;
}
.content .bigevent .textbig {
  height: 2800px;
}
.content .bigevent .textbig .textauto {
  background: url(http://zimeitisucai.oss-cn-beijing.aliyuncs.com/resource/ouguWebsite/img/homepage/bigeventicon.png) no-repeat top center;
}
.content .bigevent .textbig .textauto h3 {
  font-size: 24px;
  font-weight: 100;
}
.content .bigevent .textbig .textauto .desc {
  font-size: 16px;
}
.content .bigevent .textbig .textauto .bleft,
.content .bigevent .textbig .textauto .bright {
  width: 42%;
  height: 192px;
}
.content .bigevent .textbig .textauto .bleft {
  text-align: right;
}
.content .bigevent .textbig .textauto .bright {
  text-align: left;
  margin-left: 58%;
}
.content .brand .textauto .img {
  width: 1200px;
  margin: 25px auto 5px;
}
.content .module1 .bg {
  background-image: url("http://zimeitisucai.oss-cn-beijing.aliyuncs.com/resource/ouguWebsite/img/homepage/bg1.jpg");
}
.content .module2 .bg {
  background-image: url("http://zimeitisucai.oss-cn-beijing.aliyuncs.com/resource/ouguWebsite/img/homepage/bg2.jpg");
}
.content .module3 .bg {
  background-image: url("http://zimeitisucai.oss-cn-beijing.aliyuncs.com/resource/ouguWebsite/img/homepage/bg3.jpg");
}
.content .module4 .bg {
  background-image: url("http://zimeitisucai.oss-cn-beijing.aliyuncs.com/resource/ouguWebsite/img/homepage/bg4.jpg");
}
