.content .banner {
  width: 100%;
  height: 110vh;
  background-repeat: no-repeat;
  background-position: center 0;
  background-size: cover;
}
.content img {
  display: block;
  width: 100%;
  height: 100%;
}
.content .module .text {
  position: relative;
  width: 100%;
  height: 538px;
  color: #fff;
  background: #131313;
  box-sizing: border-box;
  line-height: 1;
}
.content .module .text .textauto {
  width: 62.5%;
  height: 100%;
  position: relative;
  min-width: 1400px;
  margin: 0 auto;
}
.content .module .text .textauto h1 {
  font-size: 40px;
  margin-bottom: 60px;
}
.content .module .text .textauto h2,
.content .module .text .textauto h3 {
  font-size: 30px;
  margin-bottom: 8px;
}
.content .module .text .textauto .desc {
  font-size: 20px;
  line-height: 44px;
  margin-bottom: 12px;
}
.content .module .text .textautoP1 .desc {
  width: 60%;
}
.content .module .text .textautoPo .product {
  position: absolute;
  left: 0;
  bottom: 0;
}
.content .module .text .textautoPo .zi {
  width: 50%;
  float: right;
  text-align: right;
}
.content .module .bg {
  height: 848px;
  line-height: 848px;
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
  font-size: 40px;
  color: #fff;
}
.cus1 .banner1 {
  background-image: url(http://zimeitisucai.oss-cn-beijing.aliyuncs.com/resource/ouguWebsite/img/customization/01_banner.jpg);
}
.cus1 .module .bg1 {
  background-image: url(http://zimeitisucai.oss-cn-beijing.aliyuncs.com/resource/ouguWebsite/img/customization/01_1.jpg);
}
.cus1 .module .bg2 {
  background-image: url(http://zimeitisucai.oss-cn-beijing.aliyuncs.com/resource/ouguWebsite/img/customization/01_2.jpg);
}
.cus2 .banner1 {
  background-image: url(http://zimeitisucai.oss-cn-beijing.aliyuncs.com/resource/ouguWebsite/img/customization/02_banner.jpg);
}
.cus2 .module .text2 {
  background-image: url(http://zimeitisucai.oss-cn-beijing.aliyuncs.com/resource/ouguWebsite/img/customization/02_text2.png);
  margin-top: -362px;
  height: 900px;
}
.cus2 .module .bg1 {
  background-image: url(http://zimeitisucai.oss-cn-beijing.aliyuncs.com/resource/ouguWebsite/img/customization/02_1.jpg);
}
.cus2 .module .bg2 {
  background-image: url(http://zimeitisucai.oss-cn-beijing.aliyuncs.com/resource/ouguWebsite/img/customization/02_2.jpg);
}
.cus3 .banner1 {
  background-image: url(http://zimeitisucai.oss-cn-beijing.aliyuncs.com/resource/ouguWebsite/img/customization/03_banner.jpg);
}
.cus3 .module .text1 {
  background-image: url(http://zimeitisucai.oss-cn-beijing.aliyuncs.com/resource/ouguWebsite/img/customization/03_text1.jpg);
}
.cus3 .module .text2 {
  background-image: url(http://zimeitisucai.oss-cn-beijing.aliyuncs.com/resource/ouguWebsite/img/customization/03_text2.png);
  margin-top: -362px;
  height: 900px;
}
.cus3 .module .bg1 {
  background-image: url(http://zimeitisucai.oss-cn-beijing.aliyuncs.com/resource/ouguWebsite/img/customization/03_1.jpg);
}
.cus3 .module .bg2 {
  background-image: url(http://zimeitisucai.oss-cn-beijing.aliyuncs.com/resource/ouguWebsite/img/customization/03_2.jpg);
}
.cus4 .banner1 {
  background-image: url(http://zimeitisucai.oss-cn-beijing.aliyuncs.com/resource/ouguWebsite/img/customization/04_banner.jpg);
}
.cus4 .module .text1 {
  background-image: url(http://zimeitisucai.oss-cn-beijing.aliyuncs.com/resource/ouguWebsite/img/customization/04_text1.jpg);
}
.cus4 .module .text2 {
  background-image: url(http://zimeitisucai.oss-cn-beijing.aliyuncs.com/resource/ouguWebsite/img/customization/04_text2.png);
  margin-top: -362px;
  height: 900px;
}
.cus4 .module .text3 {
  background-image: url(http://zimeitisucai.oss-cn-beijing.aliyuncs.com/resource/ouguWebsite/img/customization/04_text3.png);
  margin-top: -362px;
  height: 900px;
}
.cus4 .module .text4 {
  background-image: url(http://zimeitisucai.oss-cn-beijing.aliyuncs.com/resource/ouguWebsite/img/customization/04_text4.png);
  margin-top: -362px;
  height: 900px;
}
.cus4 .module .bg1 {
  background-image: url(http://zimeitisucai.oss-cn-beijing.aliyuncs.com/resource/ouguWebsite/img/customization/04_1.jpg);
}
.cus4 .module .bg2 {
  background-image: url(http://zimeitisucai.oss-cn-beijing.aliyuncs.com/resource/ouguWebsite/img/customization/04_2.jpg);
}
.cus4 .module .bg3 {
  background-image: url(http://zimeitisucai.oss-cn-beijing.aliyuncs.com/resource/ouguWebsite/img/customization/04_3.jpg);
}
.cus4 .module .bg4 {
  background-image: url(http://zimeitisucai.oss-cn-beijing.aliyuncs.com/resource/ouguWebsite/img/customization/04_4.jpg);
}
.cus5 .banner1 {
  background-image: url(http://zimeitisucai.oss-cn-beijing.aliyuncs.com/resource/ouguWebsite/img/customization/05_banner.jpg);
}
.cus5 .module .text1 {
  background-image: url(http://zimeitisucai.oss-cn-beijing.aliyuncs.com/resource/ouguWebsite/img/customization/05_text1.png);
}
.cus5 .module .text2 {
  background-image: url(http://zimeitisucai.oss-cn-beijing.aliyuncs.com/resource/ouguWebsite/img/customization/05_text2.png);
  margin-top: -362px;
  height: 900px;
}
.cus5 .module .bg1 {
  background-image: url(http://zimeitisucai.oss-cn-beijing.aliyuncs.com/resource/ouguWebsite/img/customization/05_1.jpg);
}
.cus5 .module .bg2 {
  background-image: url(http://zimeitisucai.oss-cn-beijing.aliyuncs.com/resource/ouguWebsite/img/customization/05_2.jpg);
}
.pro1_1 .bannerp1 {
  background-image: url(http://zimeitisucai.oss-cn-beijing.aliyuncs.com/resource/ouguWebsite/img/product/01audioVisual/01_banner.jpg);
}
.pro1_1 .module .text1 {
  background-image: url(http://zimeitisucai.oss-cn-beijing.aliyuncs.com/resource/ouguWebsite/img/product/01audioVisual/01_text1.jpg);
}
.pro1_1 .module .text2 {
  background-image: url(http://zimeitisucai.oss-cn-beijing.aliyuncs.com/resource/ouguWebsite/img/product/01audioVisual/01_text2.png);
  margin-top: -128px;
  height: 666px;
}
.pro1_1 .module .text3 {
  background-image: url(http://zimeitisucai.oss-cn-beijing.aliyuncs.com/resource/ouguWebsite/img/product/01audioVisual/01_text3.png);
  margin-top: -128px;
  height: 666px;
}
.pro1_1 .module .bg1 {
  background-image: url(http://zimeitisucai.oss-cn-beijing.aliyuncs.com/resource/ouguWebsite/img/product/01audioVisual/01_1.jpg);
}
.pro1_1 .module .bg2 {
  background-image: url(http://zimeitisucai.oss-cn-beijing.aliyuncs.com/resource/ouguWebsite/img/product/01audioVisual/01_2.jpg);
}
.pro1_1 .module .bg3 {
  background-image: url(http://zimeitisucai.oss-cn-beijing.aliyuncs.com/resource/ouguWebsite/img/product/01audioVisual/01_3.jpg);
}
.pro1_2 .bannerp1 {
  background-image: url(http://zimeitisucai.oss-cn-beijing.aliyuncs.com/resource/ouguWebsite/img/product/01audioVisual/02_banner.jpg);
}
.pro1_2 .module .text1 {
  background-image: url(http://zimeitisucai.oss-cn-beijing.aliyuncs.com/resource/ouguWebsite/img/product/01audioVisual/02_text1.jpg);
}
.pro1_2 .module .text2 {
  background-image: url(http://zimeitisucai.oss-cn-beijing.aliyuncs.com/resource/ouguWebsite/img/product/01audioVisual/02_text2.png);
  margin-top: -362px;
  height: 900px;
}
.pro1_2 .module .bg1 {
  background-image: url(http://zimeitisucai.oss-cn-beijing.aliyuncs.com/resource/ouguWebsite/img/product/01audioVisual/02_1.jpg);
}
.pro1_2 .module .bg2 {
  background-image: url(http://zimeitisucai.oss-cn-beijing.aliyuncs.com/resource/ouguWebsite/img/product/01audioVisual/02_2.jpg);
}
.pro1_3 .bannerp1 {
  background-image: url(http://zimeitisucai.oss-cn-beijing.aliyuncs.com/resource/ouguWebsite/img/product/01audioVisual/03_banner.jpg);
}
.pro1_3 .module .text1 {
  background-image: url(http://zimeitisucai.oss-cn-beijing.aliyuncs.com/resource/ouguWebsite/img/product/01audioVisual/03_text1.jpg);
}
.pro1_3 .module .text2 {
  background-image: url(http://zimeitisucai.oss-cn-beijing.aliyuncs.com/resource/ouguWebsite/img/product/01audioVisual/03_text2.png);
  margin-top: -362px;
  height: 900px;
}
.pro1_3 .module .bg1 {
  background-image: url(http://zimeitisucai.oss-cn-beijing.aliyuncs.com/resource/ouguWebsite/img/product/01audioVisual/03_1.jpg);
}
.pro1_3 .module .bg2 {
  background-image: url(http://zimeitisucai.oss-cn-beijing.aliyuncs.com/resource/ouguWebsite/img/product/01audioVisual/03_2.jpg);
}
.pro1_4 .bannerp1 {
  background-image: url(http://zimeitisucai.oss-cn-beijing.aliyuncs.com/resource/ouguWebsite/img/product/01audioVisual/04_banner.jpg);
}
.pro1_4 .module .text1 {
  background-image: url(http://zimeitisucai.oss-cn-beijing.aliyuncs.com/resource/ouguWebsite/img/product/01audioVisual/04_text1.jpg);
}
.pro1_4 .module .text2 {
  background-image: url(http://zimeitisucai.oss-cn-beijing.aliyuncs.com/resource/ouguWebsite/img/product/01audioVisual/04_text2.png);
  margin-top: -362px;
  height: 900px;
}
.pro1_4 .module .text3 {
  background-image: url(http://zimeitisucai.oss-cn-beijing.aliyuncs.com/resource/ouguWebsite/img/product/01audioVisual/04_text3.png);
  margin-top: -362px;
  height: 900px;
}
.pro1_4 .module .bg1 {
  background-image: url(http://zimeitisucai.oss-cn-beijing.aliyuncs.com/resource/ouguWebsite/img/product/01audioVisual/04_1.jpg);
}
.pro1_4 .module .bg2 {
  background-image: url(http://zimeitisucai.oss-cn-beijing.aliyuncs.com/resource/ouguWebsite/img/product/01audioVisual/04_2.jpg);
}
.pro1_4 .module .bg3 {
  background-image: url(http://zimeitisucai.oss-cn-beijing.aliyuncs.com/resource/ouguWebsite/img/product/01audioVisual/04_3.jpg);
}
.pro1_5 .bannerp1 {
  background-image: url(http://zimeitisucai.oss-cn-beijing.aliyuncs.com/resource/ouguWebsite/img/product/01audioVisual/05_banner.jpg);
}
.pro1_5 .module .text1 {
  background-image: url(http://zimeitisucai.oss-cn-beijing.aliyuncs.com/resource/ouguWebsite/img/product/01audioVisual/05_text1.jpg);
}
.pro1_5 .module .text2 {
  background-image: url(http://zimeitisucai.oss-cn-beijing.aliyuncs.com/resource/ouguWebsite/img/product/01audioVisual/05_text2.png);
  margin-top: -362px;
  height: 900px;
}
.pro1_5 .module .bg1 {
  background-image: url(http://zimeitisucai.oss-cn-beijing.aliyuncs.com/resource/ouguWebsite/img/product/01audioVisual/05_1.jpg);
}
.pro1_5 .module .bg2 {
  background-image: url(http://zimeitisucai.oss-cn-beijing.aliyuncs.com/resource/ouguWebsite/img/product/01audioVisual/05_2.jpg);
}
.pro2_1 .bannerp1 {
  background-image: url(http://zimeitisucai.oss-cn-beijing.aliyuncs.com/resource/ouguWebsite/img/product/02telematics/01_banner.jpg);
}
.pro2_1 .module .text1 {
  background-image: url(http://zimeitisucai.oss-cn-beijing.aliyuncs.com/resource/ouguWebsite/img/product/02telematics/01_text1.jpg);
}
.pro2_1 .module .text2 {
  background-image: url(http://zimeitisucai.oss-cn-beijing.aliyuncs.com/resource/ouguWebsite/img/product/02telematics/01_text2.png);
  margin-top: -362px;
  height: 900px;
}
.pro2_1 .module .bg1 {
  background-image: url(http://zimeitisucai.oss-cn-beijing.aliyuncs.com/resource/ouguWebsite/img/product/02telematics/01_1.jpg);
}
.pro2_1 .module .bg2 {
  background-image: url(http://zimeitisucai.oss-cn-beijing.aliyuncs.com/resource/ouguWebsite/img/product/02telematics/01_2.jpg);
}
.pro3_1 .bannerp1 {
  background-image: url(http://zimeitisucai.oss-cn-beijing.aliyuncs.com/resource/ouguWebsite/img/product/03digitalProducts/01_banner.jpg);
}
.pro3_1 .module .text1 {
  background-image: url(http://zimeitisucai.oss-cn-beijing.aliyuncs.com/resource/ouguWebsite/img/product/03digitalProducts/01_text1.jpg);
}
.pro3_1 .module .text2 {
  background-image: url(http://zimeitisucai.oss-cn-beijing.aliyuncs.com/resource/ouguWebsite/img/product/03digitalProducts/01_text2.png);
  margin-top: -362px;
  height: 900px;
}
.pro3_1 .module .bg1 {
  background-image: url(http://zimeitisucai.oss-cn-beijing.aliyuncs.com/resource/ouguWebsite/img/product/03digitalProducts/01_1.jpg);
}
.pro3_1 .module .bg2 {
  background-image: url(http://zimeitisucai.oss-cn-beijing.aliyuncs.com/resource/ouguWebsite/img/product/03digitalProducts/01_2.jpg);
}
.pro3_2 .bannerp1 {
  background-image: url(http://zimeitisucai.oss-cn-beijing.aliyuncs.com/resource/ouguWebsite/img/product/03digitalProducts/02_banner.jpg);
}
.pro3_2 .module .text1 {
  background-image: url(http://zimeitisucai.oss-cn-beijing.aliyuncs.com/resource/ouguWebsite/img/product/03digitalProducts/02_text1.jpg);
}
.pro3_2 .module .text2 {
  background-image: url(http://zimeitisucai.oss-cn-beijing.aliyuncs.com/resource/ouguWebsite/img/product/03digitalProducts/02_text2.png);
  margin-top: -362px;
  height: 900px;
}
.pro3_2 .module .bg1 {
  background-image: url(http://zimeitisucai.oss-cn-beijing.aliyuncs.com/resource/ouguWebsite/img/product/03digitalProducts/02_1.jpg);
}
.pro3_2 .module .bg2 {
  background-image: url(http://zimeitisucai.oss-cn-beijing.aliyuncs.com/resource/ouguWebsite/img/product/03digitalProducts/02_2.jpg);
}
.pro4_1 .bannerp1 {
  background-image: url(http://zimeitisucai.oss-cn-beijing.aliyuncs.com/resource/ouguWebsite/img/product/04intelligentHome/01_banner.jpg);
}
.pro4_1 .module .text1 {
  background-image: url(http://zimeitisucai.oss-cn-beijing.aliyuncs.com/resource/ouguWebsite/img/product/04intelligentHome/01_text1.jpg);
}
.pro4_1 .module .text2 {
  background-image: url(http://zimeitisucai.oss-cn-beijing.aliyuncs.com/resource/ouguWebsite/img/product/04intelligentHome/01_text2.png);
  margin-top: -362px;
  height: 900px;
}
.pro4_1 .module .bg1 {
  background-image: url(http://zimeitisucai.oss-cn-beijing.aliyuncs.com/resource/ouguWebsite/img/product/04intelligentHome/01_1.jpg);
}
.pro4_1 .module .bg2 {
  background-image: url(http://zimeitisucai.oss-cn-beijing.aliyuncs.com/resource/ouguWebsite/img/product/04intelligentHome/01_2.jpg);
}
.pro5_1 .bannerp1 {
  background-image: url(http://zimeitisucai.oss-cn-beijing.aliyuncs.com/resource/ouguWebsite/img/product/05transportationTool/01_banner.jpg);
}
.pro5_1 .module .text1 {
  background-image: url(http://zimeitisucai.oss-cn-beijing.aliyuncs.com/resource/ouguWebsite/img/product/05transportationTool/01_text1.jpg);
}
.pro5_1 .module .text2 {
  background-image: url(http://zimeitisucai.oss-cn-beijing.aliyuncs.com/resource/ouguWebsite/img/product/05transportationTool/01_text2.png);
  margin-top: -362px;
  height: 900px;
}
.pro5_1 .module .text3 {
  background-image: url(http://zimeitisucai.oss-cn-beijing.aliyuncs.com/resource/ouguWebsite/img/product/05transportationTool/01_text2.png);
  margin-top: -362px;
  height: 900px;
}
.pro5_1 .module .bg1 {
  background-image: url(http://zimeitisucai.oss-cn-beijing.aliyuncs.com/resource/ouguWebsite/img/product/05transportationTool/01_1.jpg);
}
.pro5_1 .module .bg2 {
  background-image: url(http://zimeitisucai.oss-cn-beijing.aliyuncs.com/resource/ouguWebsite/img/product/05transportationTool/01_2.jpg);
}
.pro5_1 .module .bg3 {
  background-image: url(http://zimeitisucai.oss-cn-beijing.aliyuncs.com/resource/ouguWebsite/img/product/05transportationTool/01_2.jpg);
}
.privacy {
  height: 5500px;
  background: url("http://zimeitisucai.oss-cn-beijing.aliyuncs.com/resource/ouguWebsite/img/privacy.jpg") no-repeat center 0;
  background-size: cover;
}
