 .content {
     .banner {
         width: 100%;
         height: 1000px;
         background-repeat: no-repeat;
         background-position: center 0;
         background-size: cover;
     }
     .banner1{
          background-image:url(../img/customization/01_banner.jpg);
     }
     img {
         display: block;
         width: 100%;
         height: 100%;
     }
     .module {
         .text {
             width: 100%;
             height: 538px;
             background-repeat: no-repeat;
             background-position: center 0;
             background-size: cover;
             position: relative;
         }
         .bg {
             height: 848px;
             line-height: 848px;
             background-repeat: no-repeat;
             background-position: 0 0;
             background-size: cover;
             background-attachment: fixed;
             text-align: center;
             font-size: 40px;
             color: #fff
         }
     }
     .module1 {
         .text {
             background-image: url(../img/customization/01_text1.jpg);
         }
         .bg1 {
             background-image: url(../img/customization/01_1.jpg);
         }
     }
     .module2 {
         .text {
             height: 666px;
             background-image: url(../img/customization/01_text2.png);
             margin-top: -128px;
//           &>img{
//              position: absolute;
//              bottom: 0;
//              left: 190px;
//              width: 702px;
//              height: 666px;
//           }
         }
         .bg1 {
             background-image: url(../img/customization/01_2.jpg);
         }
     }
 }